h6 체크할 경우 그에 해당되는 것을 
h6 보여줍니다

h3 완료여부
h6 숙소 옆 원을 클릭하면 예약됩니다
section.options.done 
  a(data-value='true').option 예약 완료
  a(data-value='false').option 예약 미완료
  a(data-value='all').all 전체

h3 가격
section.options.priority 
  a(data-value='3').option 평균 이상
  a(data-value='2').option 평균
  a(data-value='1').option 평균 이하
  a(data-value='all').all 전체




h3 분류
section.options.category
  a(data-value='1인').option 1인
  a(data-value='2인').option 2인
  a(data-value='3인').option 3인
  a(data-value='4인').option 4인 이상
  a(data-value='all').all 전체
