extends layout

block hero-unit
  .jumbotron
    .container
      h1 BINIBNB


block content
  .container
    .row
      .col-md-6
        h3 서비스 목적
        p 이 사이트는 숙소를 등록하는 사이트입니다.
        p 숙소를 기준에 따라 등록하고 ,예약을 받습니다.

      .col-md-6
        ul
        h3 등록하는 기준
          h6 
          li 인원 수
          h6
          li 가격

  .row
      .col-md-6
        h3 
        p 
        p 

      .col-md-6
        ul
        h3 회원 
          h6 
          li HOST 들은 자신의 프로필 변경 가능
          h6
          li 페이스북 로그인 가능
          
